:root {
    --color-white: #fff;
    --time-animation: 0.6s;
  }
 

/************  ANIMATIONS  ************/



    @keyframes pulse_up {
      0% {
        transform: translateY(0px) rotate(180deg);
      }
      50% {
        transform: translateY(25px) rotate(180deg);
      }
      100% {
        transform: translateY(0px) rotate(180deg);
      }
  }

  @keyframes pulse_down {
    0% {
      transform: translateY(25px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(25px);
    }
  }



/************  HTML  ************/


  html {
    scrollbar-width: none;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
    overflow: hidden scroll;
    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .layout {
    width: 100%;
    height: calc(100vh * 3);
    position: relative;
  }
  .layout .section-stick {
    margin: auto;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
  }
  .layout .section-stick .stick,
  .layout .section-stick .active {
    width: 13px;
    height: 62px;
    border: none;
    border-radius: 9px;
  }
  .layout .section-stick .stick {
    position: relative;
    display: none;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all var(--time-animation) ease-in-out;
  }
  .layout .section-stick .active {
    position: absolute;
    background-color: var(--color-white);
    box-shadow: 0px 0px 12px 1px var(--color-white);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
  .layout section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    font-size: 80px;
    font-weight: 600;
    transform: translateY(100vh);
    transition: all var(--time-animation) ease-in-out;
    z-index: 0;
  }
  .layout section .home {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    align-items: center;
  }
  .layout section .home svg {
    animation: pulse_down 1.4s linear infinite normal;
    position:fixed;
    bottom: 5%;
  }


  .container{
    display: flex;
    justify-content: center;
  }


  .animated{
    width: 400px;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-image: url();
  }



    /*************    EFECCTS    **************/

    .flecha_arriba {
      animation: pulse_up 1.4s linear infinite normal;
      position:fixed;
      top: 1.5%;
    }
  
    .flecha_abajo {
      animation: pulse_down 1.4s linear infinite normal;
      position:fixed;
      bottom: 3%;
    }


    /*************    SECTION 1    **************/


  .layout .s1 {
/*     background-image: linear-gradient(to bottom, #434343, #4c4c4c, #555555, #5e5e5e, #686868, #767577, #868386, #969094, #b3a4a6, #cebab4, #e3d3c2, #eeefd5); */
    transform: translateY(0);
    z-index: 4;
  }


    /*************    SECTION 2    **************/


  .layout .s2 {
    background: rgb(255,255,255);
/*     background-image: linear-gradient(to bottom, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5); */
    z-index: 3;
  }

  .layout .s2 #s2_content{
    width: 50%;
    color: #525252;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }


  /*SECTION 2  - Text 1*/


  .layout .s2 #s2_content #texto_1_s2{
    font-weight: 800;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s2 #s2_content #texto_1_s2.izquierda{
    transform:translateX(-100px);
  }

  .layout .s2 #s2_content #texto_1_s2.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }


    /*SECTION 2  - Text 2*/


  .layout .s2 #s2_content #texto_2_s2{
    font-weight: 800;
    opacity: 0;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s2 #s2_content #texto_2_s2.derecha{
    transform:translateX(100px);
  }

  .layout .s2 #s2_content #texto_2_s2.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }


    /*************    SECTION 3    **************/


  .layout .s3 {
    z-index: 2;
    background: rgb(255,255,255);
/*     background-image: linear-gradient(to bottom, #eeefd5, #e6d7c6, #d6c2bb, #bfb0b1, #a69fa3, #988c96, #867a8c, #716a83, #61537c, #533c74, #46236a, #3a015f); */
    opacity: 1;
  }

  .layout .s3 #s3_content{
    position: relative;
    top:10%;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #525252;
    font-size: 2rem;
  }


    /*SECTION 3  - Title 1*/


   .layout .s3 #s3_content #title_1_s3{
    font-weight: 800;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s3 #s3_content #title_1_s3.izquierda{
    transform:translateX(-100px);
  }

  .layout .s3 #s3_content #title_1_s3.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }


    /*SECTION 3  - Text 1*/


    .layout .s3 #s3_content #text_1_s3{
      font-weight: 800;
      opacity: 0;
      transform: scale(0.9);
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
  
    .layout .s3 #s3_content #text_1_s3.derecha{
      transform:translateX(100px);
    }
  
    .layout .s3 #s3_content #text_1_s3.visible{
      opacity: 1;
      transform: scale(1);
      transform: translateX(0);
    }


    /*SECTION 3  - Text 1*/


    .layout .s3 #s3_content #text_2_s3{
      font-weight: 800;
      opacity: 0;
      transform: scale(0.9);
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
  
    .layout .s3 #s3_content #text_2_s3.izquierda{
      transform:translateX(-100px);
    }
  
    .layout .s3 #s3_content #text_2_s3.visible{
      opacity: 1;
      transform: scale(1);
      transform: translateX(0);
    }


    /*************    SECTION 4    **************/

    
  .layout .s4 {
    background: rgb(255,255,255);
/*     background-image: linear-gradient(to bottom, #3a015f, #400e62, #461965, #4c2367, #512c6a, #4d3773, #48417b, #444a81, #31568a, #19628e, #006c8f, #03758d); */
    z-index: 1;
  }


  .layout .s4 #s4_content{
    display: grid;
    grid-template-areas:
    "title_1_s4 title_1_s4"
    "section_1 section_2"
    "section_3 section_4";
    color: #525252;
    font-size: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
  }

  .layout .s4 #s4_content #title_1_s4{
    grid-area: title_1_s4;
    font-size: 1rem;
    opacity: 0;
    transform: scale(0.5);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s4 #s4_content #title_1_s4.visible{
    opacity: 1;
    font-size: 2rem;
    transform: scale(1);
  }

  .layout .s4 #s4_content #area_1_s4{
    grid-area: section_1;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s4 #s4_content #area_1_s4.izquierda{
    transform:translateX(-100px);
  }

  .layout .s4 #s4_content #area_1_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }

  .layout .s4 #s4_content #area_2_s4{
    grid-area: section_2;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s4 #s4_content #area_2_s4.arriba{
    transform:translateY(-100px);
  }

  .layout .s4 #s4_content #area_2_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }

  .layout .s4 #s4_content #area_3_s4{
    grid-area: section_3;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s4 #s4_content #area_3_s4.abajo{
    transform:translateY(100px);
  }

  .layout .s4 #s4_content #area_3_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }

  .layout .s4 #s4_content #area_4_s4{
    grid-area: section_4;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
  }

  .layout .s4 #s4_content #area_4_s4.derecha{
    transform:translateX(100px);
  }

  .layout .s4 #s4_content #area_4_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }



    /*************    SECTION 5    **************/

    
  .layout .s5 {
    background: rgb(255,255,255);
/*     background-image: linear-gradient(to bottom, #03758d, #17778b, #237989, #2d7a87, #367c85, #288388, #178988, #009087, #009c7f, #00a76e, #04b054, #47b82d); */
    z-index: 1;
  }

  .layout .s5 #deep_s5 img{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20%;
  }


/************ D letter ************/

  .layout .s5 #deep_s5 #d_s5{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;

  }

  .layout .s5 #deep_s5 #d_s5.visible{
    opacity: 1;
    top: 50%;
    left: 10%;
    transform: translate(-9%, 100%);
  }

  .layout .s5 #deep_s5 #d_s5 #d_letters{
    opacity: 0;
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }
  
  
   .layout .s5 #deep_s5 #d_s5 #d_letters.visible{
    color: #525252;
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #d_s5 #d_text{
    opacity: 1;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 2s;
  }

  .layout .s5 #deep_s5 #d_s5 #d_text.visible{
    color: #525252;
    opacity: 1;
  }

/************ E1 letter ************/

  .layout .s5 #deep_s5 #e1_s5{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-11%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s5 #deep_s5 #e1_s5.visible{
    opacity: 1;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_letters{
    opacity: 0;
    color: #525252;
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }
  
   .layout .s5 #deep_s5 #e1_s5 #e1_letters.visible{
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_text.visible{
    color: #525252;
    opacity: 1;
  }

/************ E2 letter ************/

  .layout .s5 #deep_s5 #e2_s5{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-1%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s5 #deep_s5 #e2_s5.visible{
    opacity: 1;
    top: 10%;
    left: 70%;
    transform: translate(-10%, -10%);
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_letters{
    opacity: 0;
    color: #525252;
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }
  
   .layout .s5 #deep_s5 #e2_s5 #e2_letters.visible{
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_text.visible{
    color: #525252;
    opacity: 1;
  }

/************ P letter ************/

  .layout .s5 #deep_s5 #p_s5{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s5 #deep_s5 #p_s5.visible{
    opacity: 1;
    top: 45.5%;
    left: 10%;
    transform: translate(-15%, -100%);
  }

  .layout .s5 #deep_s5 #p_s5 #p_letters{
    opacity: 0.8%;
    color: #525252;
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }
  
   .layout .s5 #deep_s5 #p_s5 #p_letters.visible{
    margin-left: 0px;
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #p_s5 #p_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s5 #deep_s5 #p_s5 #p_text.visible{
    color: #525252;
    opacity: 1;
    }


/************ Service 5 ************/


    .layout .s5 #deep_s5 #service_5{
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      width: 28%;
      transform: translate(-20%, -20%);
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
  
    .layout .s5 #deep_s5 #service_5.visible{
      opacity: 1;
      top: 76%;
      left: 72%;
      transform: translate(-20%, -100%);
    }
  
    .layout .s5 #deep_s5 #service_5 #service_5_title{
      opacity: 0;
      color: #525252;
      top: 40%;
      left: 50%;
      font-size: 2rem;
      transform: translate(-30%, -60%);
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;

    }
    
     .layout .s5 #deep_s5 #service_5 #service_5_title.visible{
      opacity: 1;
      font-size: 2rem;
    }
  
    .layout .s5 #deep_s5 #service_5 #service_5_text{
      opacity: 0;
      position: absolute;
      text-align: justify;
      font-weight: 400;
      font-size: 1rem;
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
  
    .layout .s5 #deep_s5 #service_5 #service_5_text.visible{
      color: #525252;
      opacity: 1;
    }
  

    /************ Service 6 ************/


    .layout .s5 #deep_s5 #service_6{
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -60%);
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
  
    .layout .s5 #deep_s5 #service_6.visible{
      opacity: 1;
      top: 40%;
      left: 70%;
      transform: translate(-10%, -10%);
    }
  
    .layout .s5 #deep_s5 #service_6 #service_6_title{
      opacity: 0;
      font-size: 1.5rem;
      color: #525252;
      top: 40%;
      left: 50%;
      display: inline-block;
      padding-left: 15px;
      transform: translate(-10%, -3%);
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
    
     .layout .s5 #deep_s5 #service_6 #service_6_title.visible{
      opacity: 1;
      line-height: 1.5em;
    }
  
    .layout .s5 #deep_s5 #service_6 #service_6_text{
      opacity: 0;
      position: absolute;
      text-align: justify;
      font-weight: 400;
      margin: 0px;
      padding: 0px;
      font-size: 1rem;
      transition-timing-function: ease-in-out all;
      transition-duration: 1s;
    }
  
    .layout .s5 #deep_s5 #service_6 #service_6_text.visible{
      color: #525252;
      opacity: 1;
    }


    /*************    SECTION 6    **************/

    
  .layout .s6 {
    color: #525252;
    background: rgb(255,255,255);
/*     background-image: linear-gradient(to bottom, #47b82d, #65b52e, #7ab133, #8aad3a, #97aa43, #a1ab43, #aaab43, #b4ac44, #c2b039, #d1b22d, #e1b51f, #f2b60a); */
    z-index: 1;
  }

  .layout .s6 .imgs_s6{
    position:absolute;
    width: 170px;
    opacity: 0;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
  }

  .layout .s6 #dog_img.izquierda{
    transform: translateX(-850px);
  }


  .layout .s6 #flower_img.derecha{
    transform: translateX(850px);
  }

  .layout .s6 #dog_img.visible{
    opacity: 1;
    transform: translateX(0px);
  }

  .layout .s6 #flower_img.visible{
    opacity: 1;
    transform: translateX(0px);
  }

  .layout .s6 #flower_img{
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;

  }

    /*************    SECTION 7    **************/

    
  .layout .s7 {
    color: #525252;
    background: rgb(255,255,255);
/*     background-image: linear-gradient(to bottom, #f2b60a, #e7a827, #db9b36, #cd8f41, #bd8449, #bb7e46, #b97843, #b77240, #c46d33, #d26727, #e05f1b, #ef550d); */
    z-index: 1;
  }


    /*************    SECTION 8    **************/

    
  .layout .s8 {
    color: #525252;
/*     background-image:  */
/*     linear-gradient(to bottom, rgba(239, 85, 13, 0.95), rgba(229, 81, 38, 0.9), rgba(217, 80, 53, 0.85), rgba(203, 79, 64, 0.8), rgba(188, 80, 73, 0.75), rgba(187, 78, 73, 0.7), rgba(185, 76, 74, 0.65), rgba(184, 74, 74, 0.70), rgba(197, 68, 68, 0.75), rgba(210, 61, 60, 0.8), rgba(222, 52, 52, 0.85), rgba(233, 41, 42, 0.90)), */
/*     url("../images/red.JPG"); */
    z-index: 1;
  }


  /*** RESPONSIVE ***/
  /* MOBILE */
  

  @media screen and (orientation: portrait) and (min-width: 320px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    body {
      width: 0px;
      background-color: rgb(255, 208, 0);
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }

  @media screen and (orientation: landscape) and (min-width: 320px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    body {
      width: 0px;
      background-color: rgb(54, 15, 15);
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }


  @media screen and (min-width: 481px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    body {
      width: 0px;
      background-color: rgb(175, 255, 248);
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }


  @media screen and (min-width: 769px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    body {
      width: 0px;
      background-color: rgb(255, 175, 175);
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }


  @media screen and (min-width: 1025px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    body {
      width: 0px;
      background-color: rgb(255, 0, 255);
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }

  @media screen and (min-width: 1201px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    body {
      width: 0px;
      background-color: rgb(255, 0, 255);
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }